<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__top-left">
        <div class="footer__sogaz-logo"><img src="images/sogaz_logo.svg" alt="Согаз медицина"></div>
        <div class="footer__wn-logo"><img src="images/white_nights_logo.svg" alt="Белые Ночи"></div>
        <p class="footer__copyright">© Санаторий<br> «Белые ночи», 2019</p>
      </div>
      <div class="footer__top-center">
        <div class="footer__contacts">
          <p>Санкт-Петербург<br> 38-й км, Приморского шоссе, д. 2</p>
          <p><a href="tel:+78002001141">+7 800 200-11-41</a> (отдел продаж)</p>
          <p><a href="tel:+78123098142">+7 812 309-81-42</a></p>
          <a class="button button--h50 button--transparent_green" href="#">
            <svg class="button__icon button__icon--pin" aria-hidden="true">
              <use xlink:href="#pin" />
            </svg>
            Как добраться до нас
          </a>
        </div>
        <ul class="footer__menu footer-menu">
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">О нас</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Проживание</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Лечебные программы</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Медицинские услуги</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Спецпредложения</a></li>
        </ul>
      </div>
      <div class="footer__top-right">
        <div class="social-links">
          <a class="social-link" href="#" title="Наша группа Вконтакте" rel="noreferrer nofollow noopener">
            <svg class="social-link__icon" aria-hidden="true">
              <use xlink:href="#vk" />
            </svg>
          </a>
          <a class="social-link" href="#" title="Наша страница на Facebook" rel="noreferrer nofollow noopener">
            <svg class="social-link__icon" aria-hidden="true">
              <use xlink:href="#fb" />
            </svg>
          </a>
          <a class="social-link" href="#" title="Наш Instagram" rel="noreferrer nofollow noopener">
            <svg class="social-link__icon" aria-hidden="true">
              <use xlink:href="#inst" />
            </svg>
          </a>
        </div>
        <div class="buttons">
          <a class="button button--h50 button--green" href="#">Забронировать</a>
          <a class="button button--h50 button--white" href="#">Позвоните мне</a>
        </div>
      </div>
    </div>
    <div class="footer__note">О возможных противопоказаниях проконсультируйтесь со специалистом</div>
  </div>
</footer>