<div class="gallery-block">
  <h2 class="decorated-title">Галерея</h2>
  <div class="js-gallery-slider gallery-slider">
    <div class="gallery-slider__item">
      <a href="images/content/img_15.jpg" data-fancybox="gallery">
        <img src="images/content/img_15.jpg" alt="Изображение">
      </a>
    </div>
    <div class="gallery-slider__item">
      <a href="images/content/img_14.jpg" data-fancybox="gallery">
        <img src="images/content/img_14.jpg" alt="Изображение">
      </a>
    </div>
    <div class="gallery-slider__item">
      <a href="images/content/img_16.jpg" data-fancybox="gallery">
        <img src="images/content/img_16.jpg" alt="Изображение">
      </a>
    </div>
    <div class="gallery-slider__item">
      <a href="images/content/img_15.jpg" data-fancybox="gallery">
        <img src="images/content/img_15.jpg" alt="Изображение">
      </a>
    </div>
    <div class="gallery-slider__item">
      <a href="images/content/img_14.jpg" data-fancybox="gallery">
        <img src="images/content/img_14.jpg" alt="Изображение">
      </a>
    </div>
    <div class="gallery-slider__item">
      <a href="images/content/img_16.jpg" data-fancybox="gallery">
        <img src="images/content/img_16.jpg" alt="Изображение">
      </a>
    </div>
    <div class="gallery-slider__item">
      <a href="images/content/img_15.jpg" data-fancybox="gallery">
        <img src="images/content/img_15.jpg" alt="Изображение">
      </a>
    </div>
    <div class="gallery-slider__item">
      <a href="images/content/img_14.jpg" data-fancybox="gallery">
        <img src="images/content/img_14.jpg" alt="Изображение">
      </a>
    </div>
    <div class="gallery-slider__item">
      <a href="images/content/img_16.jpg" data-fancybox="gallery">
        <img src="images/content/img_16.jpg" alt="Изображение">
      </a>
    </div>
    <div class="gallery-slider__item">
      <a href="images/content/img_15.jpg" data-fancybox="gallery">
        <img src="images/content/img_15.jpg" alt="Изображение">
      </a>
    </div>
    <div class="gallery-slider__item">
      <a href="images/content/img_14.jpg" data-fancybox="gallery">
        <img src="images/content/img_14.jpg" alt="Изображение">
      </a>
    </div>
    <div class="gallery-slider__item">
      <a href="images/content/img_16.jpg" data-fancybox="gallery">
        <img src="images/content/img_16.jpg" alt="Изображение">
      </a>
    </div>
  </div>
  <div class="js-gallery-nav gallery-nav">
    <a class="button" href="#">Смотреть все</a>
  </div>
</div>
