<div class="infrastructure-block">
  <h2 class="decorated-title">Инфраструктура</h2>
  <div class="infrastructure-list">
    <div class="infrastructure-list__item">
      <a class="infrastructure-item" href="#">
        <span class="infrastructure-item__image" style="background-image: url('images/content/img_3.jpg')"></span>
        <span class="infrastructure-item__icon-block">
          <img src="images/infrastructure_icons/icon_1.svg" alt="">
        </span>
        <span class="infrastructure-item__about">
          <span class="infrastructure-item__title">Номерной фонд</span>
          <span class="infrastructure-item__text">134 уютных номера различной категории</span>
        </span>
      </a>
    </div>
  </div>
  <div class="infrastructure-block__text">
    <p>Санаторий предлагает своим пациентам не только комплексную медицинскую помощь, индивидуальный подход и качественное обслуживание, но небольшой номерной фонд, а также разнообразное, вкусное и полезное питание, разработанное
      специалистами отделения диетологии санатория.</p>
  </div>
</div>