<div class="infrastructure-block">
  <h2 class="decorated-title">Инфраструктура</h2>
  <div class="structure-slider-block">
    <div class="structure-slider-nav-block">
      <div class="structure-slider-nav">
        <button class="js-ssn ssn is-active" type="button" data-index="1">
          <div class="ssn__icon-block">
            <svg class="ssn__icon" aria-hidden="true">
              <use xlink:href="#ssn_2" />
            </svg>
          </div>
          Услуги
        </button>
        <button class="js-ssn ssn" type="button" data-index="2">
          <div class="ssn__icon-block">
            <svg class="ssn__icon" aria-hidden="true">
              <use xlink:href="#ssn_3" />
            </svg>
          </div>
          Проживание
        </button>
        <button class="js-ssn ssn" type="button" data-index="3">
          <div class="ssn__icon-block">
            <svg class="ssn__icon" aria-hidden="true">
              <use xlink:href="#ssn_4" />
            </svg>
          </div>
          Территория
        </button>
      </div>
    </div>
    <div class="js-structure-slider structure-slider">
      <div class="structure-slider__slide is-active" data-index="1">
        <div class="infrastructure-list">
          <div class="infrastructure-list__item">
            <a class="infrastructure-item" href="#">
              <span class="infrastructure-item__image" style="background-image: url('images/content/img_17.jpg')"></span>
              <span class="infrastructure-item__icon-block">
                <img src="images/infrastructure_icons/icon_4.svg" alt="">
              </span>
              <span class="infrastructure-item__about">
                <span class="infrastructure-item__title">Бассеин</span>
              </span>
            </a>
          </div>
          <div class="infrastructure-list__item">
            <a class="infrastructure-item" href="#">
              <span class="infrastructure-item__image" style="background-image: url('images/content/img_18.jpg')"></span>
              <span class="infrastructure-item__icon-block">
                <img src="images/infrastructure_icons/icon_2.svg" alt="">
              </span>
              <span class="infrastructure-item__about">
                <span class="infrastructure-item__title">Питание</span>
              </span>
            </a>
          </div>
          <div class="infrastructure-list__item">
            <a class="infrastructure-item" href="#">
              <span class="infrastructure-item__image" style="background-image: url('images/content/img_19.jpg')"></span>
              <span class="infrastructure-item__icon-block">
                <img src="images/infrastructure_icons/icon_1.svg" alt="">
              </span>
              <span class="infrastructure-item__about">
                <span class="infrastructure-item__title">Отдых и развлечения</span>
              </span>
            </a>
          </div>
          <div class="infrastructure-list__item">
            <a class="infrastructure-item" href="#">
              <span class="infrastructure-item__image" style="background-image: url('images/content/img_20.jpg')"></span>
              <span class="infrastructure-item__icon-block">
                <img src="images/infrastructure_icons/icon_3.svg" alt="">
              </span>
              <span class="infrastructure-item__about">
                <span class="infrastructure-item__title">Спорт</span>
              </span>
            </a>
          </div>
          <div class="infrastructure-list__item">
            <a class="infrastructure-item" href="#">
              <span class="infrastructure-item__image" style="background-image: url('images/content/img_21.jpg')"></span>
              <span class="infrastructure-item__icon-block">
                <img src="images/infrastructure_icons/icon_5.svg" alt="">
              </span>
              <span class="infrastructure-item__about">
                <span class="infrastructure-item__title">Территория</span>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="structure-slider__slide" data-index="2">
        <div class="infrastructure-list">
          <div class="infrastructure-list__item infrastructure-list__item--type_2">
            <a class="infrastructure-item infrastructure-item--type_2" href="#">
              <span class="infrastructure-item__image" style="background-image: url('images/content/img_22.jpg')"></span>
              <span class="infrastructure-item__about">
                <span class="infrastructure-item__title">СПА</span>
              </span>
            </a>
          </div>
          <div class="infrastructure-list__item infrastructure-list__item--type_2">
            <a class="infrastructure-item infrastructure-item--type_3" href="#">
              <span class="infrastructure-item__image" style="background-image: url('images/content/img_23.jpg')"></span>
              <span class="infrastructure-item__about">
                <span class="infrastructure-item__title">Косметология</span>
              </span>
            </a>
            <a class="infrastructure-item infrastructure-item--type_3" href="#">
              <span class="infrastructure-item__image" style="background-image: url('images/content/img_24.jpg')"></span>
              <span class="infrastructure-item__about">
                <span class="infrastructure-item__title">Медицина</span>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="structure-slider__slide" data-index="3">
        <div class="infrastructure-list">
          <div class="infrastructure-list__item infrastructure-list__item--type_2">
            <a class="infrastructure-item" href="#">
              <span class="infrastructure-item__image" style="background-image: url('images/content/img_25.jpg')"></span>
              <span class="infrastructure-item__about">
                <span class="infrastructure-item__title">Однокомнатный одноместный «СТАНДАРТ»</span>
              </span>
            </a>
          </div>
          <div class="infrastructure-list__item infrastructure-list__item--type_2">
            <a class="infrastructure-item" href="#">
              <span class="infrastructure-item__image" style="background-image: url('images/content/img_26.jpg')"></span>
              <span class="infrastructure-item__about">
                <span class="infrastructure-item__title">Однокомнатный двухместный «СТАНДАРТ»</span>
              </span>
            </a>
          </div>
          <div class="infrastructure-list__item infrastructure-list__item--type_2">
            <a class="infrastructure-item" href="#">
              <span class="infrastructure-item__image" style="background-image: url('images/content/img_27.jpg')"></span>
              <span class="infrastructure-item__about">
                <span class="infrastructure-item__title">Двухкомнатный «ЛЮКС»</span>
              </span>
            </a>
          </div>
          <div class="infrastructure-list__item infrastructure-list__item--type_2">
            <a class="infrastructure-item" href="#">
              <span class="infrastructure-item__image" style="background-image: url('images/content/img_28.jpg')"></span>
              <span class="infrastructure-item__about">
                <span class="infrastructure-item__title">Трёхкомнатный «ЛЮКС»</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="js-structure-slider-arrows structure-slider-arrows"></div>
  </div>
  <div class="infrastructure-block__text">
    <p>Санаторий предлагает своим пациентам не только комплексную медицинскую помощь, индивидуальный подход и качественное обслуживание, но небольшой номерной фонд, а также разнообразное, вкусное и полезное питание, разработанное
      специалистами отделения диетологии санатория.</p>
  </div>
</div>
