<div class="map-block">
  <div id="map" class="map"></div>
  <div class="map-block__container container">
    <div class="map-contacts">
      <h2 class="map-contacts__title">Контакты</h2>
      <p>
        <span class="map-contacts__label">Телефоны:</span><br>
        <a href="tel:+78002001141">+7 800 200-11-41</a> (отдел продаж)<br>
        <a href="tel:+78123098142">+7 812 309-81-42</a><br>
        <a href="tel:+78123186400">+7 812 318-64-00</a> (диспетчерская служба)<br>
        <a href="+78123186400">+7 812 318-64-00</a> (доб. 101, cлужба приёма и размещения)
      </p>
      <p>
        <span class="map-contacts__label">Адрес:</span><br>
        Санкт-Петербург 38-й км, Приморского шоссе, д. 2
      </p>
      <p>
        <span class="map-contacts__label">Email:</span><br>
        <a href="mailto:sale-wn@sogaz-clinic.ru">sale-wn@sogaz-clinic.ru</a>
      </p>
      <p class="map-contacts__button-block"><a class="button" href="#">Как до нас добраться</a></p>
    </div>
  </div>
</div>