<div class="news-block">
  <h2 class="decorated-title">Новости</h2>
  <div class="js-news-list news-list">
    <div class="news-list__item">
      <a class="news-item" href="#">
        <span class="news-item__date">31.02.2019</span>
        <span class="news-item__image-block">
          <span class="news-item__image" style="background-image: url('images/content/img_1.jpg')"></span>
        </span>
        <span class="news-item__title">
          <span class="news-item__title-decor"></span>
          9 сентября — Всемирный день красоты
        </span>
      </a>
    </div>
    <div class="news-list__item">
      <a class="news-item" href="#">
        <span class="news-item__date">01.11.2018</span>
        <span class="news-item__image-block">
          <span class="news-item__image" style="background-image: url('images/content/img_1.jpg')"></span>
        </span>
        <span class="news-item__title">
          <span class="news-item__title-decor"></span>
          Поздравляем коллег с Днем физиотерапевта!
        </span>
      </a>
    </div>
    <div class="news-list__item">
      <a class="news-item" href="#">
        <span class="news-item__date">16.05.2018</span>
        <span class="news-item__image-block">
          <span class="news-item__image" style="background-image: url('images/content/img_1.jpg')"></span>
        </span>
        <span class="news-item__title">
          <span class="news-item__title-decor"></span>
          8 сентября — День памяти жертв блокады Ленинграда
        </span>
      </a>
    </div>
  </div>
  <p class="text-center">
    <a class="button" href="#">Все новости</a>
  </p>
</div>