<div class="problems-block">
  <h2 class="decorated-title">Мы помогаем с такими<br> проблемами как:</h2>
  <div class="problems-list">
    <div class="problems-list__item">
      <div class="problem">
        <img src="images/problems_icons/icon_1.svg" alt="Центральная нервная система"><br>
        Центральная нервная<br> система
      </div>
    </div>
    <div class="problems-list__item">
      <div class="problem">
        <img src="images/problems_icons/icon_2.svg" alt="Опорно-двигательный аппарат"><br>
        Опорно-двигательный<br> аппарат
      </div>
    </div>
    <div class="problems-list__item">
      <div class="problem">
        <img src="images/problems_icons/icon_3.svg" alt="Сердечно-сосудистая система"><br>
        Сердечно-сосудистая<br> система
      </div>
    </div>
    <div class="problems-list__item">
      <div class="problem">
        <img src="images/problems_icons/icon_4.svg" alt="Пищеварительная система"><br>
        Пищеварительная<br> система
      </div>
    </div>
    <div class="problems-list__item">
      <div class="problem">
        <img src="images/problems_icons/icon_5.svg" alt="Эндокринная система"><br>
        Эндокринная<br> система
      </div>
    </div>
    <div class="problems-list__item">
      <div class="problem">
        <img src="images/problems_icons/icon_6.svg" alt="Дыхательная система"><br>
        Дыхательная<br> система
      </div>
    </div>
    <div class="problems-list__item">
      <div class="problem">
        <img src="images/problems_icons/icon_7.svg" alt="Мочеполовая система"><br>
        Мочеполовая<br> система
      </div>
    </div>
    <div class="problems-list__item">
      <div class="problem">
        <img src="images/problems_icons/icon_8.svg" alt="Эстетика и красота"><br>
        Эстетика и красота
      </div>
    </div>
  </div>
</div>