<div class="problems-block">
  <h2 class="decorated-title">Специализированные<br> профили санатория:</h2>
  <div class="problems-list">
    <div class="problems-list__item">
      <div class="js-problem problem">
        <img class="problem__image" src="images/problems_icons/icon_1.svg" alt="Центральная нервная система"><br>
        <p class="problem__title"><span class="problem__title-text">Центральная нервная<br> система</span></p>
        <div class="problem__dropdown">
          <button class="problem__dropdown-close" type="button" title="Закрыть">
            <svg class="problem__dropdown-close-icon" aria-hidden="true">
              <use xlink:href="#close" />
            </svg>
          </button>
          <p class="problem__dropdown-title">ЦЕНТРАЛЬНАЯ НЕРВНАЯ СИСТЕМА</p>
          <p class="problem__dropdown-subtitle"><b>Комплексная программа</b></p>
          <ul>
            <li><a href="https://white-nights.ru/tours/nedelya-krasoty-i-zdorovya/">Неделя красоты и здоровья</a></li>
            <li><a href="https://white-nights.ru/tours/ozdorovitelnaya-putyevka/">Оздоровительная путевка</a></li>
          </ul>
          <p class="problem__dropdown-subtitle"><b>Диагностика</b></p>
          <ul>
            <li>Консультация невролога и/или психотерапевта</li>
            <li>УЗИ сосудов</li>
            <li>Кирлианография</li>
          </ul>
          <p class="problem__dropdown-subtitle"><b>Медицинские процедуры</b></p>
          <ul>
            <li>СПА-процедуры</li>
            <li>Иглорефлексотерапия</li>
            <li>Баротерапия</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="problems-list__item">
      <div class="js-problem problem">
        <img class="problem__image" src="images/problems_icons/icon_2.svg" alt="Опорно-двигательный аппарат"><br>
        <p class="problem__title"><span class="problem__title-text">Опорно-двигательный<br> аппарат</span></p>
        <div class="problem__dropdown">
          <button class="problem__dropdown-close" type="button" title="Закрыть">
            <svg class="problem__dropdown-close-icon" aria-hidden="true">
              <use xlink:href="#close" />
            </svg>
          </button>
          <p class="problem__dropdown-title">ОПОРНО-ДВИГАТЕЛЬНЫЙ АППАРАТ</p>
          <p class="problem__dropdown-subtitle"><b>Комплексная программа</b></p>
          <ul>
            <li><a href="https://white-nights.ru/tours/bazovaya-putyevka/">Базовая путевка</a></li>
            <li><a href="https://white-nights.ru/tours/zdorovyy-pozvonochnik-i-sustavy/">Здоровый позвоночник и суставы</a></li>
          </ul>
          <p class="problem__dropdown-subtitle"><b>Диагностика</b></p>
          <ul>
            <li>Консультация невролога и/или психотерапевта</li>
            <li>Обзорная термография</li>
          </ul>
          <p class="problem__dropdown-subtitle"><b>Медицинские процедуры</b></p>
          <ul>
            <li>Карбокситерапия</li>
            <li>Массаж</li>
            <li>Физиотерапевтические процедуры</li>
            <li>Детензорная терапия</li>
            <li>Лечебные медикаментозные блокады</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="problems-list__item">
      <div class="js-problem problem">
        <img class="problem__image" src="images/problems_icons/icon_3.svg" alt="Сердечно-сосудистая система"><br>
        <p class="problem__title"><span class="problem__title-text">Сердечно-сосудистая<br> система</span></p>
        <div class="problem__dropdown">
          <button class="problem__dropdown-close" type="button" title="Закрыть">
            <svg class="problem__dropdown-close-icon" aria-hidden="true">
              <use xlink:href="#close" />
            </svg>
          </button>
          <p class="problem__dropdown-title">СЕРДЕЧНО-СОСУДИСТАЯ СИСТЕМА</p>
          <p class="problem__dropdown-subtitle"><b>Комплексная программа</b></p>
          <ul>
            <li>Здоровое сердце и сосуды</li>
            <li><a href="https://white-nights.ru/tours/podarok-roditelyam/">Подарок родителям</a></li>
            <li><a href="https://white-nights.ru/tours/ozdorovitelnaya-putyevka/">Оздоровительная путевка</a></li>
          </ul>
          <p class="problem__dropdown-subtitle"><b>Диагностика</b></p>
          <ul>
            <li>Консультация кардиолога</li>
            <li>ЭКГ</li>
            <li>ЭКГ по Холтеру</li>
            <li>Суточное мониторирование АД</li>
            <li>Тредмил-тест</li>
          </ul>
          <p class="problem__dropdown-subtitle"><b>Медицинские процедуры</b></p>
          <ul>
            <li>Сухие углекислые ванны</li>
            <li>Гирудотерапия</li>
            <li>Баротерапия</li>
            <li>Внутривенные инъекции (капельницы)</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="problems-list__item">
      <div class="js-problem problem">
        <img class="problem__image" src="images/problems_icons/icon_4.svg" alt="Пищеварительная система"><br>
        <p class="problem__title"><span class="problem__title-text">Пищеварительная<br> система</span></p>
        <div class="problem__dropdown">
          <button class="problem__dropdown-close" type="button" title="Закрыть">
            <svg class="problem__dropdown-close-icon" aria-hidden="true">
              <use xlink:href="#close" />
            </svg>
          </button>
          <p class="problem__dropdown-title">ПИЩЕВАРИТЛЬНАЯ СИСТЕМА</p>
          <p class="problem__dropdown-subtitle"><b>Комплексная программа</b></p>
          <ul>
            <li><a href="https://white-nights.ru/tours/detoksikatsiya-organizma/">Детоксикация организма</a></li>
            <li><a href="https://white-nights.ru/tours/korrektsiya-vesa/">Коррекция веса</a></li>
            <li><a href="https://white-nights.ru/tours/ozdorovitelnaya-dietologiya/">Оздоровительная диетология</a></li>
            <li><a href="https://white-nights.ru/tours/sakharnyy-diabet/">Сахарный диабет</a></li>
          </ul>
          <p class="problem__dropdown-subtitle"><b>Диагностика</b></p>
          <ul>
            <li>Консультация диетолога</li>
            <li>Лабораторные исследования</li>
            <li>УЗИ органов брюшной полости</li>
            <li>Биоимпедансометрия (BIA)</li>
          </ul>
          <p class="problem__dropdown-subtitle"><b>Медицинские процедуры</b></p>
          <ul>
            <li>Диетотерапия</li>
            <li>Лечебные микроклизмы</li>
            <li>Фитотерапия</li>
            <li>МОК</li>
            <li>Составление индивидуального плана питания</li>
          </ul>
        </div>
      </div>
    </div>
    <!--<div class="problems-list__item">
      <div class="problem">
        <img class="problem__image" src="images/problems_icons/icon_5.svg" alt="Эндокринная система"><br>
        <p class="problem__title"><span class="problem__title-text">Эндокринная<br> система</span></p>
      </div>
    </div>-->
    <div class="problems-list__item">
      <div class="js-problem problem">
        <img class="problem__image" src="images/problems_icons/icon_6.svg" alt="Дыхательная система"><br>
        <p class="problem__title"><span class="problem__title-text">Дыхательная<br> система</span></p>
        <div class="problem__dropdown">
          <button class="problem__dropdown-close" type="button" title="Закрыть">
            <svg class="problem__dropdown-close-icon" aria-hidden="true">
              <use xlink:href="#close" />
            </svg>
          </button>
          <p class="problem__dropdown-title">ДЫХАТЕЛЬНАЯ СИСТЕМА</p>
          <p class="problem__dropdown-subtitle"><b>Комплексная программа</b></p>
          <ul>
            <li><a href="https://white-nights.ru/tours/dni-zdorovya/">Дни здоровья</a></li>
            <li><a href="https://white-nights.ru/tours/ozdorovitelnaya-putyevka/">Оздоровительная путевка</a></li>
          </ul>
          <p class="problem__dropdown-subtitle"><b>Диагностика</b></p>
          <ul>
            <li>ЭКГ</li>
            <li>Спирография</li>
            <li>Консультация врача</li>
          </ul>
          <p class="problem__dropdown-subtitle"><b>Медицинские процедуры</b></p>
          <ul>
            <li>Дыхательная гимнастика</li>
            <li>Галотерапия (соляная пещера)</li>
            <li>Гипокситерапия</li>
            <li>Орошения зева</li>
            <li>Небулайзерная терапия</li>
          </ul>
        </div>
      </div>
    </div>
    <!--<div class="problems-list__item">
      <div class="problem">
        <img class="problem__image" src="images/problems_icons/icon_7.svg" alt="Мочеполовая система"><br>
        <p class="problem__title"><span class="problem__title-text">Мочеполовая<br> система</span></p>
      </div>
    </div>-->
    <div class="problems-list__item">
      <div class="js-problem problem">
        <img class="problem__image" src="images/problems_icons/icon_8.svg" alt="Эстетика и красота"><br>
        <p class="problem__title"><span class="problem__title-text">Эстетика и красота</span></p>
        <div class="problem__dropdown">
          <button class="problem__dropdown-close" type="button" title="Закрыть">
            <svg class="problem__dropdown-close-icon" aria-hidden="true">
              <use xlink:href="#close" />
            </svg>
          </button>
          <p class="problem__dropdown-title">ЭСТЕТИКА И КРАСОТА</p>
          <p class="problem__dropdown-subtitle"><b>Комплексная программа</b></p>
          <ul>
            <li><a href="https://white-nights.ru/tours/nedelya-krasoty-i-zdorovya/">Неделя красоты и здоровья</a></li>
            <li><a href="https://white-nights.ru/tours/detoksikatsiya-organizma/">Детоксикация организма</a></li>
            <li><a href="https://white-nights.ru/tours/ozdorovitelnaya-putyevka/">Оздоровительная путевка</a></li>
          </ul>
          <p class="problem__dropdown-subtitle"><b>Диагностика</b></p>
          <ul>
            <li>Консультация косметолога</li>
            <li>Диагностика состояния кожи и волос</li>
            <li>Генетические исследования</li>
          </ul>
          <p class="problem__dropdown-subtitle"><b>Медицинские процедуры</b></p>
          <ul>
            <li>Уходовые процедуры по телу</li>
            <li>Аппаратная косметология</li>
            <li>Инъекционные методики</li>
            <li>Контурная пластика</li>
            <li>LPG</li>
            <li>Ботулинотерапия</li>
            <li>Фотоэпиляция</li>
            <li>Услуги салона красоты</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
