<div class="programs-block">
  <h2 class="decorated-title">Выберите программу</h2>
  <div class="js-programs-slider programs-list">
    <div class="programs-list__item">
      <a class="program" href="#">
        <div class="program__image-block">
          <div class="program__days">от<br> 5 дней</div>
          <img src="images/content/img_2.jpg" alt="Базовая путевка">
        </div>
        <div class="program__info">
          <p class="program__title">Базовая путевка</p>
          <ol>
            <li>Проживание</li>
            <li>Питание</li>
            <li>
              Лечение:
              <ul>
                <li>Бальнеотерапия</li>
                <li>Лечебные грязи</li>
                <li>Электросветолечебные</li>
              </ul>
            </li>
          </ol>
        </div>
      </a>
    </div>
    <div class="programs-list__item">
      <a class="program" href="#">
        <div class="program__image-block">
          <div class="program__days">от<br> 7 дней</div>
          <img src="images/content/img_2.jpg" alt="Неделя красоты и здоровья">
        </div>
        <div class="program__info">
          <p class="program__title">Неделя красоты и&nbsp;здоровья</p>
          <ol>
            <li>Проживание</li>
            <li>Питание</li>
            <li>
              Лечение:
              <ul>
                <li>Косметология</li>
                <li>Консультации диетолога</li>
                <li>SPA</li>
              </ul>
            </li>
          </ol>
        </div>
      </a>
    </div>
    <div class="programs-list__item">
      <a class="program" href="#">
        <div class="program__image-block">
          <div class="program__days">от<br> 10 дней</div>
          <img src="images/content/img_2.jpg" alt="Здоровый позвоночник">
        </div>
        <div class="program__info">
          <p class="program__title">Здоровый позвоночник</p>
          <ol>
            <li>Проживание</li>
            <li>Питание</li>
            <li>
              Лечение:
              <ul>
                <li>Массаж</li>
                <li>Карбокситерпаия</li>
                <li>Детензорная терапия</li>
              </ul>
            </li>
          </ol>
        </div>
      </a>
    </div>
  </div>
  <p class="text-center">
    <a class="button" href="#">Все программы</a>
  </p>
</div>