<div class="programs-block">
  <h2 class="decorated-title">Выберите программу</h2>
  <div class="js-programs-slider programs-list">
    <div class="programs-list__item">
      <a class="program" href="#">
        <div class="program__image-block">
          <div class="program__days">от<br> 5 дней</div>
          <img src="images/content/img_2.jpg" alt="Базовая санаторно-курортная путевка">
        </div>
        <div class="program__info">
          <p class="program__title">Базовая санаторно-курортная путевка</p>
        </div>
        <span class="program__dropdown">
          <span class="program__dropdown-period">от 5 дней</span>
          <span class="program__dropdown-title">Базовая санаторно-курортная путевка</span>
          <span class="program__dropdown-info">
            Многопрофильная путевка в лучших традициях санаторно-курортного лечения, специально разработанная для комплексной медицинской профилактики здоровья пациентов. Охватывая внушительный список показаний, она прекрасно подходит для людей, целью которых является восстановление, профилактика и укрепление физического и психологического состояния.
          </span>
          <span class="program__dropdown-price">от 5 800 <small>руб.</small></span>
        </span>
      </a>
    </div>
    <div class="programs-list__item">
      <a class="program" href="#">
        <div class="program__image-block">
          <div class="program__days">от<br> 7 дней</div>
          <img src="images/content/img_13.jpg" alt="Оздоровительная путевка">
        </div>
        <div class="program__info">
          <p class="program__title">Оздоровительная путевка</p>
        </div>
        <span class="program__dropdown">
          <span class="program__dropdown-period">от 7 дней</span>
          <span class="program__dropdown-title">Оздоровительная путевка</span>
          <span class="program__dropdown-info">
            Программа нацелена на общее оздоровление, сохранение и преумножение функциональных возможностей и улучшение качества жизни пациента.<br> Комплекс служит основой для персонифицированного наполнения процедурами и составления индивидуального плана лечения.
          </span>
          <span class="program__dropdown-price">от 4 400 <small>руб.</small></span>
        </span>
      </a>
    </div>
    <div class="programs-list__item">
      <a class="program" href="#">
        <div class="program__image-block">
          <div class="program__days">от 2 до 4 дней</div>
          <img src="images/content/img_12.jpg" alt="Дни здоровья">
        </div>
        <div class="program__info">
          <p class="program__title">Дни здоровья</p>
        </div>
        <span class="program__dropdown">
          <span class="program__dropdown-period">от 4 дней</span>
          <span class="program__dropdown-title">Дни здоровья</span>
          <span class="program__dropdown-info">
            Программа, которая прекрасно подходит для выходного дня. В нее включены общие оздоровительные процедуры, бассейн, галокамера и терренкур. Предусмотрена возможность дополнения курса услугами санатория.
          </span>
          <span class="program__dropdown-price">от 4 490 <small>руб.</small></span>
        </span>
      </a>
    </div>
    <div class="programs-list__item">
      <a class="program" href="#">
        <div class="program__image-block">
          <div class="program__days">от 4 дней</div>
          <img src="images/content/img_11.jpg" alt="Отделение диетологии">
        </div>
        <div class="program__info">
          <p class="program__title">Отделение диетологии</p>
        </div>
        <span class="program__dropdown">
          <span class="program__dropdown-period">от 4 дней</span>
          <span class="program__dropdown-title">Отделение диетологии</span>
          <span class="program__dropdown-info">
            Диетология – новое направление работы нашего санатория. Мы предлагаем гостям «Белых ночей» уникальную методику очищения и омоложения организма, а также коррекции веса. В основе нашей системы лежит многолетний эффективный опыт работы с пациентами по коррекции веса. Гарантией положительного результата служит комплексный, научно-обоснованный медицинский подход с использованием правильного, сбалансированного и разнообразного питания.
          </span>
          <span class="program__dropdown-price">от 6 014 <small>руб.</small></span>
        </span>
      </a>
    </div>
  </div>
  <p class="text-center">
    <a class="button" href="#">Все программы</a>
  </p>
</div>
