<div class="programs-block">
  <h2 class="decorated-title">Выберите программу</h2>
  <div class="js-programs-slider programs-list">
    <div class="programs-list__item">
      <a class="program" href="#">
        <div class="program__image-block">
          <div class="program__days">от<br> 5 дней</div>
          <img src="images/content/img_2.jpg" alt="Базовая санаторно-курортная путевка">
        </div>
        <div class="program__info">
          <p class="program__title">Базовая санаторно-курортная путевка</p>
        </div>
      </a>
    </div>
    <div class="programs-list__item">
      <a class="program" href="#">
        <div class="program__image-block">
          <div class="program__days">от<br> 7 дней</div>
          <img src="images/content/img_13.jpg" alt="Оздоровительная путевка">
        </div>
        <div class="program__info">
          <p class="program__title">Оздоровительная путевка</p>
        </div>
      </a>
    </div>
    <div class="programs-list__item">
      <a class="program" href="#">
        <div class="program__image-block">
          <div class="program__days">от<br> 10 дней</div>
          <img src="images/content/img_12.jpg" alt="Дни здоровья">
        </div>
        <div class="program__info">
          <p class="program__title">Дни здоровья</p>
        </div>
      </a>
    </div>
    <div class="programs-list__item">
      <a class="program" href="#">
        <div class="program__image-block">
          <div class="program__days">от<br> 10 дней</div>
          <img src="images/content/img_11.jpg" alt="Отделение диетологии">
        </div>
        <div class="program__info">
          <p class="program__title">Отделение диетологии</p>
        </div>
      </a>
    </div>
  </div>
  <p class="text-center">
    <a class="button" href="#">Все программы</a>
  </p>
</div>
