<div class="reasons-block">
  <h2 class="decorated-title">5 причин, по которым<br> пациенты выбирают нас</h2>
  <div class="reasons-list">
    <div class="reasons-list__item">
      <div class="js-reason reason">
        <img class="reason__icon" src="images/reasons_icons/icon_1.svg" alt="УДОБНОЕ МЕСТОРАСПОЛОЖЕНИЕ">
        <p class="reason__title"><span class="reason__title-text">УДОБНОЕ<br> МЕСТОРАСПОЛОЖЕНИЕ</span></p>
        <!--<p class="reason__preview">Курорт расположен в 30 км к северу от города Санкт-Петербурга. Добраться до санатория можно как на машине или такси, так и на общественном транспорте.</p>-->
        <div class="reason__dropdown">
          <button class="reason__dropdown-close" type="button" title="Закрыть">
            <svg class="reason__dropdown-close-icon" aria-hidden="true">
              <use xlink:href="#close" />
            </svg>
          </button>
          <img class="reason__dropdown-icon" src="images/reasons_icons/icon_1.svg" alt="УДОБНОЕ МЕСТОРАСПОЛОЖЕНИЕ">
          <p class="reason__dropdown-title">УДОБНОЕ МЕСТОРАСПОЛОЖЕНИЕ</p>
          <p>Курорт расположен в 30 км к северу от города Санкт-Петербурга. Добраться до санатория можно как на машине или такси, так и на общественном транспорте.</p>
        </div>
      </div>
    </div>
    <div class="reasons-list__item">
      <div class="js-reason reason">
        <img class="reason__icon" src="images/reasons_icons/icon_2.svg" alt="УНИКАЛЬНАЯ ПРИРОДА">
        <p class="reason__title"><span class="reason__title-text">УНИКАЛЬНАЯ<br> ПРИРОДА</span></p>
        <!--<p class="reason__preview">Санаторий расположен на закрытой охраняемой территории, площадью 33 Га. Наши гости имеют уникальный шанс насладиться прекрасной северной природой.</p>-->
        <div class="reason__dropdown">
          <button class="reason__dropdown-close" type="button" title="Закрыть">
            <svg class="reason__dropdown-close-icon" aria-hidden="true">
              <use xlink:href="#close" />
            </svg>
          </button>
          <img class="reason__dropdown-icon" src="images/reasons_icons/icon_2.svg" alt="УНИКАЛЬНАЯ ПРИРОДА">
          <p class="reason__dropdown-title">УНИКАЛЬНАЯ ПРИРОДА</p>
          <p>Санаторий расположен на закрытой охраняемой территории, площадью 33 Га. Наши гости имеют уникальный шанс насладиться прекрасной северной природой.</p>
        </div>
      </div>
    </div>
    <div class="reasons-list__item">
      <div class="js-reason reason">
        <img class="reason__icon" src="images/reasons_icons/icon_3.svg" alt="ЛЕЧЕНИЕ И ОЗДОРОВЛЕНИЕ">
        <p class="reason__title"><span class="reason__title-text">ЛЕЧЕНИЕ<br> И ОЗДОРОВЛЕНИЕ</span></p>
        <!--<p class="reason__preview">Мы обладаем своими собственными природными лечебно-оздоровительными ресурсами и активно применяем «Cестрорецкие» гиттиевые грязи, обладающие редким и полезным свойствами</p>-->
        <div class="reason__dropdown">
          <button class="reason__dropdown-close" type="button" title="Закрыть">
            <svg class="reason__dropdown-close-icon" aria-hidden="true">
              <use xlink:href="#close" />
            </svg>
          </button>
          <img class="reason__dropdown-icon" src="images/reasons_icons/icon_3.svg" alt="ЛЕЧЕНИЕ И ОЗДОРОВЛЕНИЕ">
          <p class="reason__dropdown-title">ЛЕЧЕНИЕ И ОЗДОРОВЛЕНИЕ</p>
          <p>Мы обладаем своими собственными природными лечебно-оздоровительными ресурсами и активно применяем «Cестрорецкие» гиттиевые грязи, обладающие редким и полезным свойствами</p>
        </div>
      </div>
    </div>
    <div class="reasons-list__item">
      <div class="js-reason reason">
        <img class="reason__icon" src="images/reasons_icons/icon_4.svg" alt="ПРОФЕССИОНАЛИЗМ">
        <p class="reason__title"><span class="reason__title-text">ПРОФЕССИОНАЛИЗМ</span></p>
        <!--<p class="reason__preview">Наш комманда – высококвалифицированные специалисты с практическим опытом работы, которая использует современные медицинские технологии и методики.</p>-->
        <div class="reason__dropdown">
          <button class="reason__dropdown-close" type="button" title="Закрыть">
            <svg class="reason__dropdown-close-icon" aria-hidden="true">
              <use xlink:href="#close" />
            </svg>
          </button>
          <img class="reason__dropdown-icon" src="images/reasons_icons/icon_4.svg" alt="ПРОФЕССИОНАЛИЗМ">
          <p class="reason__dropdown-title">ПРОФЕССИОНАЛИЗМ</p>
          <p>Наши сотрудники – это слаженная команда высококвалифицированных специалистов с практическим опытом работы, которая использует только современные медицинские технологии и апробированные методики. Это позволяет сохранить стабильно высокое
            качество медицинских услуг. Кроме того, мы уважаем своих пациентов и сотрудников, строим отношения на взаимном доверии, честности и доброжелательности.</p>
        </div>
      </div>
    </div>
    <div class="reasons-list__item">
      <div class="js-reason reason">
        <img class="reason__icon" src="images/reasons_icons/icon_5.svg" alt="ВЫСОКИЕ СТАНДАРТЫ КАЧЕСТВА">
        <p class="reason__title"><span class="reason__title-text">ВЫСОКИЕ СТАНДАРТЫ<br> КАЧЕСТВА</span></p>
        <!--<p class="reason__preview">Изначально санаторий создавался как элитное учреждение, что сразу задало высокую планку качества его работы, которое поддерживается и по сей день.</p>-->
        <div class="reason__dropdown">
          <button class="reason__dropdown-close" type="button" title="Закрыть">
            <svg class="reason__dropdown-close-icon" aria-hidden="true">
              <use xlink:href="#close" />
            </svg>
          </button>
          <img class="reason__dropdown-icon" src="images/reasons_icons/icon_5.svg" alt="ВЫСОКИЕ СТАНДАРТЫ КАЧЕСТВА">
          <p class="reason__dropdown-title">ВЫСОКИЕ СТАНДАРТЫ КАЧЕСТВА</p>
          <p>Изначально санаторий создавался как элитное учреждение, что сразу задало высокую планку качества его работы, которое поддерживается и по сей день.</p>
        </div>
      </div>
    </div>
    <div class="reasons-list__item reasons-list__item--alt">
      <div class="reason reason--alt">
        <img class="reason__icon" src="images/reasons_icons/icon_6.svg" alt="">
        <p class="reason__text">Мы заботимся о здоровье наших пациентов, окружая их вниманием и комфортом. Опираясь на профессионализм наших специалистов и последние достижения в области медицины, мы делаем все возможное для того, чтобы обеспечить
          скорейшее выздоровление пациента и возвращение его к полноценной жизни.</p>
      </div>
    </div>
  </div>
</div>
