<div class="reviews-block">
  <h2 class="decorated-title">Отзывы</h2>
  <div class="js-reviews-list reviews-list">
    <div class="reviews-list__item">
      <div class="review">
        <div class="review__top-block">
          <p class="review__author">Natalia</p>
          <p class="review__author-country"><img src="images/countries/russia.jpg" alt="Россия"> Россия</p>
          <p class="review__author-type">Семья</p>
          <p class="review__period">Время&nbsp;проживания:<br> Январь 2019</p>
        </div>
        <div class="review__text">
          <p class="review__title">Очень хорошо</p>
          <div class="review__positive">
            <ul>
              <li>- Прекрасное местоположение</li>
              <li>- Собственный пляж</li>
              <li>- Прекрасное питание</li>
              <li>- Шикарный вид из окна на море</li>
              <li>- Высокий уровень обслуживания</li>
            </ul>
          </div>
          <div class="review__negative">
            <ul>
              <li>Нет</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews-list__item">
      <div class="review">
        <div class="review__top-block">
          <p class="review__author">Natalia</p>
          <p class="review__author-country"><img src="images/countries/russia.jpg" alt="Россия"> Россия</p>
          <p class="review__author-type">Семья</p>
          <p class="review__period">Время&nbsp;проживания:<br> Январь 2019</p>
        </div>
        <div class="review__text">
          <p class="review__title">Очень хорошо</p>
          <div class="review__positive">
            <ul>
              <li>- Прекрасное местоположение</li>
              <li>- Собственный пляж</li>
              <li>- Прекрасное питание</li>
              <li>- Шикарный вид из окна на море</li>
              <li>- Высокий уровень обслуживания</li>
            </ul>
          </div>
          <div class="review__negative">
            <ul>
              <li>Нет</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews-list__item">
      <div class="review">
        <div class="review__top-block">
          <p class="review__author">Natalia</p>
          <p class="review__author-country"><img src="images/countries/russia.jpg" alt="Россия"> Россия</p>
          <p class="review__author-type">Семья</p>
          <p class="review__period">Время&nbsp;проживания:<br> Январь 2019</p>
        </div>
        <div class="review__text">
          <p class="review__title">Очень хорошо</p>
          <div class="review__positive">
            <ul>
              <li>- Прекрасное местоположение</li>
              <li>- Собственный пляж</li>
              <li>- Прекрасное питание</li>
              <li>- Шикарный вид из окна на море</li>
              <li>- Высокий уровень обслуживания</li>
            </ul>
          </div>
          <div class="review__negative">
            <ul>
              <li>Нет</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews-list__item">
      <div class="review">
        <div class="review__top-block">
          <p class="review__author">Константин Константинопольский</p>
          <p class="review__author-country"><img src="images/countries/russia.jpg" alt="Россия"> Россия</p>
          <p class="review__author-type">Семья</p>
          <p class="review__period">Время&nbsp;проживания:<br> Январь 2019</p>
        </div>
        <div class="review__text">
          <p class="review__title">Очень очень плохо</p>
          <div class="review__positive">
            <ul>
              <li>Нет</li>
            </ul>
          </div>
          <div class="review__negative">
            <ul>
              <li>- Ужасное местоположение</li>
              <li>- Есть не дали</li>
              <li>- Шарик отобрали</li>
              <li>- Шикарный вид из окна на море</li>
              <li>- Высокий уровень обслуживания</li>
              <li>- Ужасное местоположение</li>
              <li>- Есть не дали</li>
              <li>- Шарик отобрали</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="reviews-buttons">
    <a class="button" href="#">Все отзывы</a><br>
    <button class="button button--green" type="button">
      <svg class="button__icon button__icon--review" aria-hidden="true">
        <use xlink:href="#review" />
      </svg>
      Оставить отзыв
    </button>
  </div>
</div>