<div class="reviews-block">
  <h2 class="decorated-title">Отзывы</h2>
  <div class="js-reviews-list reviews-list">
    <div class="reviews-list__item">
      <div class="review">
        <p class="review__date">31.02.2018</p>
        <p class="review__author">Акаева Э.И.</p>
        <div class="review__text">
          <p>Уважаемые Аркадий Валентинович и Александр Николаевич, хочу выразить благодарность и глубокую признательность Вам и в Вашем лице всем сотрудникам санатория "Белые ночи", настоящим труженикам, профессионалам и знатокам своего дела. Я первый раз отдыхаю в "Белых ночах" и очень довольна процедурами и лечением, полученными здесь и в общем своим пребыванием.</p>
        </div>
      </div>
    </div>
    <div class="reviews-list__item">
      <div class="review">
        <p class="review__date">01.05.2018</p>
        <p class="review__author">Александровы Н.П. и З.Г.</p>
        <div class="review__text">
          <p>Санаторий "Белые ночи" стал для меня просто родным домом, благодаря тем кто делает обстановку благожелательности, уюта и радости на все время пребывания здесь! Отдельно хочется сказать о Анастасии Сергеевне Хаткевич: врач от Бога, человек с необыкновенной душой и открытым сердцем, готова помочь в любой ситуации!</p>
        </div>
      </div>
    </div>
    <div class="reviews-list__item">
      <div class="review">
        <p class="review__date">01.05.2018</p>
        <p class="review__author">Светлана</p>
        <div class="review__text">
          <p>Отдыхала в санатории с 31.10.2018 по 15.11.2018. Огромное спасибо всему персоналу санатория за чуткое, внимательное отношение, за программу лечебного процесса, за организацию питания, за работу администраторов.</p>
        </div>
      </div>
    </div>
    <div class="reviews-list__item">
      <div class="review">
        <p class="review__date">31.02.2018</p>
        <p class="review__author">Акаева Э.И.</p>
        <div class="review__text">
          <p>Уважаемые Аркадий Валентинович и Александр Николаевич, хочу выразить благодарность и глубокую признательность Вам и в Вашем лице всем сотрудникам санатория "Белые ночи", настоящим труженикам, профессионалам и знатокам своего дела. Я первый раз отдыхаю в "Белых ночах" и очень довольна процедурами и лечением, полученными здесь и в общем своим пребыванием.</p>
        </div>
      </div>
    </div>
    <div class="reviews-list__item">
      <div class="review">
        <p class="review__date">01.05.2018</p>
        <p class="review__author">Александровы Н.П. и З.Г.</p>
        <div class="review__text">
          <p>Санаторий "Белые ночи" стал для меня просто родным домом, благодаря тем кто делает обстановку благожелательности, уюта и радости на все время пребывания здесь! Отдельно хочется сказать о Анастасии Сергеевне Хаткевич: врач от Бога, человек с необыкновенной душой и открытым сердцем, готова помочь в любой ситуации!</p>
        </div>
      </div>
    </div>
    <div class="reviews-list__item">
      <div class="review">
        <p class="review__date">01.05.2018</p>
        <p class="review__author">Светлана</p>
        <div class="review__text">
          <p>Отдыхала в санатории с 31.10.2018 по 15.11.2018. Огромное спасибо всему персоналу санатория за чуткое, внимательное отношение, за программу лечебного процесса, за организацию питания, за работу администраторов.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="reviews-buttons">
    <a class="button" href="#">Все отзывы</a><br>
    <button class="button button--green" type="button">
      <svg class="button__icon button__icon--review" aria-hidden="true">
        <use xlink:href="#review" />
      </svg>
      Оставить отзыв
    </button>
  </div>
</div>
